alias v="nvim"
alias vf='nvim $(fzf)'
alias g="git"
alias gg="git grep"
alias gd="git diff"
alias gds="git diff --staged"
alias gs="git status"

alias dotfiles="cd ~/Projects/dotfiles"

[ -f ~/.aliases.local ] && source ~/.aliases.local
