[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[core]
	pager = less -FR
